<footer id="footer">Developed by Ankit Banerjee | <a href="https://github.com/ankitbanerjee0211/Bank-App">Source Code</a> | <a class="fa fa-github" href="https://github.com/ankitbanerjee0211" target="_blank"></a> | <a class="fa fa-linkedin" href="https://www.linkedin.com/in/ankit-banerjee-0211/" target="_blank"></a> | All Rights Reserved</footer>
