<nav>
    <div class="site-title">
        <a href="/"><h1>AB Bank</h1></a>
        <p>A Heroku Site</p>
    </div>

    <ul>
        <li><a href="/customers">Customers</a></li>
        <li><a href="/transfer">Transfer</a></li>
        <li><a href="/transaction-history">Transaction History</a></li>
        <li><a href="/customers/create">Create New User</a></li>
        <li><a href="/about">About</a></li>
    </ul>
</nav>