<!DOCTYPE html>
<html lang="en">
<!-- Head -->
<%- include('./partials/head.ejs')  %> 
<body>
    <!-- Navbar -->
    <%- include('./partials/nav.ejs')  %> 

    <div class="about">
        <h2>About Us</h2>
        <p><i class="fa fa-star"></i> This website is made up using the technologies like HTML, CSS, JavaScript, NodeJS, ExpressJS, MongoDB, Mongoose, ejs view engine.</p>
        <p><i class="fa fa-star"></i> The website is hosted on Heroku.</p>
        <p><i class="fa fa-star"></i> This website is a part of The Sparks Foundation(TSF) Graduate Rotational Internship Program(GRIP)</p>
        <p><i class="fa fa-star"></i> The source code is uploaded on my github repository which you can find from the footer.</p>
        <br>
        <h3 style="text-align: center;">Thank You for visiting my website.</h3>
    </div>

    <!-- Footer -->
    <%- include('./partials/footer.ejs')  %> 
</body>