<!DOCTYPE html>
<html lang="en">
<!-- Head -->
<%- include('./partials/head.ejs')  %> 
<body>

    <!-- Navbar -->
    <%- include('./partials/nav.ejs')  %> 

    <div class="homepage-title">
        <h2>Welcome to Our Homepage</h2>
        <h3><i class="fa fa-star"></i>    You can choose from these following options: </h3>
        <div class="home-btn-container">
            <button class="home-btn"><a href="/transfer">Transfer</a></button>
            <button class="home-btn"><a href="/customers/create">Create New Account</a></button>
        </div>
    </div>

    <!-- Footer -->
    <%- include('./partials/footer.ejs')  %> 
</body>
</html>